In [1]:
import pandas as pd

In [24]:
data = pd.read_csv('data_opt1.txt', sep=';')
data

,14:30:37.003323,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",Unnamed: 4
0,14:30:37.003327,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",NaN
1,14:30:37.003328,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",NaN
2,14:30:37.003401,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",NaN
3,14:30:37.004021,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",NaN
4,14:30:37.004024,192.168.0.1.43236,239.255.255.250.1900:,"UDP,",NaN
...,...,...,...,...,...
194,14:31:06.093431,192.168.0.102.62956,10.1.1.7.7680:,Flags,NaN
195,14:31:06.322611,192.168.0.102.62955,192.168.21.20.7680:,Flags,NaN
196,14:31:07.095630,192.168.0.102.62956,10.1.1.7.7680:,Flags,NaN
197,14:31:07.739979,192.168.0.102.61730,162.159.133.234.443:,Flags,NaN
198,14:31:07.767365,162.159.133.234.443,192.168.0.102.61730:,Flags,NaN